{% extends 'base.html.twig' %}

{% block title %}New Studies{% endblock %}

{% block body %}
    <h1>Create new Studies</h1>

    {{ include('studies_crud/_form.html.twig') }}

    <a href="{{ path('app_studies_crud_index') }}">back to list</a>
{% endblock %}
