<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel='stylesheet' type='text/css' media='screen' href='/addons/css/adminnav.css'>
            <link rel='stylesheet' type='text/css' media='screen' href='/addons/css/form.css'>
            <link rel='stylesheet' type='text/css' media='screen' href='/addons/css/comment.css'>
            <link rel='stylesheet' type='text/css' media='screen' href='/addons/css/base.css'>
            <link rel='stylesheet' type='text/css' media='screen' href='/addons/css/nav.css'>
            <link rel='stylesheet' type='text/css' media='screen' href='/addons/css/card.css'>
            <link rel='stylesheet' type='text/css' media='screen' href='/addons/css/draganddrop.css'>
            <link href="/addons/css/carousel.css" rel="stylesheet">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <style>
                .gallery {
                    --g: 8px;
                    /* the gap */
                    --s: 500px;
                    /* the size */
                    display: grid;
                    border-radius: 50%;
                }

                .gallery>img {
                    grid-area: 1/1;
                    width: var(--s);
                    aspect-ratio: 1;
                    object-fit: cover;
                    border-radius: 50%;
                    transform: translate(var(--_x, 0), var(--_y, 0));
                    cursor: pointer;
                    font-size: 0;
                    z-index: 0;
                    transition: .3s, z-index 0s .3s;
                }

                .gallery img:hover {
                    font-size: var(--s);
                    z-index: 1;
                    transition: transform .2s, font-size .3s .2s, z-index 0s;
                }

                .gallery:hover img {
                    transform: translate(0, 0);
                }

                .gallery>img:nth-child(1) {
                    clip-path: polygon(50% 50%, .5em 1.2em, 0 1em, 0 0, 100% 0, 100% 1em, calc(100% - .5em) 1.2em);
                    --_y: calc(-1*var(--g))
                }

                .gallery>img:nth-child(2) {
                    clip-path: polygon(50% 50%, calc(100% - 1.2em) 0.5em, calc(100% - 1em) 0, 100% 0, 100% 100%, calc(100% - 1em) 100%, calc(100% - 1.2em) calc(100% - .5em));
                    --_x: var(--g)
                }

                .gallery>img:nth-child(3) {
                    clip-path: polygon(50% 50%, calc(100% - .5em) calc(100% - 1.2em), 100% calc(100% - 1.2em), 100% 100%, 0 100%, 0 calc(100% - 1em), .5em calc(100% - 1.2em));
                    --_y: var(--g)
                }

                .gallery>img:nth-child(4) {
                    clip-path: polygon(50% 50%, 1.2em .5em, 1em 0, 0 0, 0 100%, 1em 100%, 1.2em calc(100% - .5em));
                    --_x: calc(-1*var(--g))
                }


.custom-modal {
    z-index: 1050 !important;
}

.custom-modal .modal-backdrop {
    z-index: 1040 !important;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(0, 0);
}

            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
                <div class="container marketing">
                    {% set dateNaissance = '27-12-2004' %}
                    {% set dateNaissanceFormatted = dateNaissance|date("Y-m-d") %}
                    {% set dateActuelle = "now"|date("Y-m-d") %}
                    {% set difference = dateActuelle|date("U") - dateNaissanceFormatted|date("U") %}
                    {% set age = (difference / (365.25 * 24 * 3600))|round(0, 'floor') %}
                    <!-- START THE FEATURETTES -->
                    <h2 class="featurette-heading fw-normal lh-1 text-center">Bonjour ! je m'appelle Evan, j'ai {{ age }} ans. </h2>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading fw-normal lh-1"> <span class="text-body-secondary">Je suis étudiant en </span>BTS SIO* <span class="text-body-secondary">au lycée Notre Dame de La Providence à Avranches</span></h2>
                            <p class="lead">*Brevet de Technicien Supérieur Service Informatique aux Organisations</p>
                        </div>
                        <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <!-- Remplacez le contenu de la balise <svg> par la balise <image> -->
                            <image href="/images/cropped-NDLP.png" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
                        </svg>                   
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
                        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
                    </div>
                    <div class="col-md-5 order-md-1">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                    </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
                        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
                    </div>
                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
                    </div>
                    </div>

                    <hr class="featurette-divider">

                    <!-- /END THE FEATURETTES -->
<!-- Three columns of text below the carousel -->
                    <div class="row">
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                        <h2 class="fw-normal">Heading</h2>
                        <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                        <h2 class="fw-normal">Heading</h2>
                        <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
                        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
                        <h2 class="fw-normal">Heading</h2>
                        <p>And lastly this, the third column of representative placeholder content.</p>
                        <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->

                </div><!-- /.container -->


                <!-- FOOTER -->
                <footer class="container">
                    <p class="float-end"><a href="#">Back to top</a></p>
                    <p>&copy; 2017–2023 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                </footer>
                </main>
                <script src="/addons/css/assets/dist/js/bootstrap.bundle.min.js"></script>
        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="/addons/js/redirectToPage.js"></script>
        <script src="/addons/js/nav.js"></script>

        {% endblock %}

        {% endblock %}
        
                    <nav id="navbar">
                        <ul class="navbar-items flexbox-col">
                            <li class="navbar-logo flexbox-left">
                            <a class="navbar-item-inner flexbox">
                                {# <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 1438.88 1819.54">
                                <polygon points="925.79 318.48 830.56 0 183.51 1384.12 510.41 1178.46 925.79 318.48"/>
                                <polygon points="1438.88 1663.28 1126.35 948.08 111.98 1586.26 0 1819.54 1020.91 1250.57 1123.78 1471.02 783.64 1663.28 1438.88 1663.28"/>
                                </svg> #}
                                <img src='/uploads/images/Evan.png' width='75%'>
                            </a>
                            </li>
                            <li class="navbar-item flexbox-left">
                            <a class="navbar-item-inner flexbox-left" href='/'>
                                <div class="navbar-item-inner-icon-wrapper flexbox">
                                <ion-icon name="search-outline"></ion-icon>
                                </div>
                                <span class="link-text">Accueil</span>
                            </a>
                            </li>
                            <li class="navbar-item flexbox-left">
                            <a class="navbar-item-inner flexbox-left" href='/studies'>
                                <div class="navbar-item-inner-icon-wrapper flexbox">
                                <ion-icon name="home-outline"></ion-icon>
                                </div>
                                <span class="link-text">Parcour</span>
                            </a>
                            </li>
                            <li class="navbar-item flexbox-left">
                            <a class="navbar-item-inner flexbox-left" href='/documentations'>
                                <div class="navbar-item-inner-icon-wrapper flexbox">
                                <ion-icon name="folder-open-outline"></ion-icon>
                                </div>
                                <span class="link-text">Documentations</span>
                            </a>
                            </li>
                            <li class="navbar-item flexbox-left">
                            <a class="navbar-item-inner flexbox-left">
                                <div class="navbar-item-inner-icon-wrapper flexbox">
                                <ion-icon name="pie-chart-outline"></ion-icon>
                                </div>
                                <span class="link-text">Dashboard</span>
                            </a>
                            </li>
                            <li class="navbar-item flexbox-left">
                            <a class="navbar-item-inner flexbox-left">
                                <div class="navbar-item-inner-icon-wrapper flexbox">
                                <ion-icon name="people-outline"></ion-icon>
                                </div>
                                <span class="link-text">Team</span>
                            </a>
                            </li>
                            <li class="navbar-item flexbox-left">
                            <a class="navbar-item-inner flexbox-left">
                                <div class="navbar-item-inner-icon-wrapper flexbox">
                                <ion-icon name="chatbubbles-outline"></ion-icon>
                                </div>
                                <span class="link-text">Support</span>
                            </a>
                            </li>
                            <li class="navbar-item flexbox-left">
                            <a class="navbar-item-inner flexbox-left" href='/administration'>
                                <div class="navbar-item-inner-icon-wrapper flexbox">
                                <ion-icon name="chatbubbles-outline"></ion-icon>
                                </div>
                                <span class="link-text">Dashboard</span>
                            </a>
                            </li>

                        </ul>
                    </nav>
        </div>
    </body>
</html>
